body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
}

.container {
	text-align: center;
	padding: 50px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background: #28a745;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

nav {
	background: #333;
	padding: 10px;
	text-align: center;
}

nav a {
	color: white;
	margin: 0 10px;
	text-decoration: none;
}

h1, p {
	text-align: center;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}

.product {
	border: 1px solid #ccc;
	background: white;
	margin: 10px;
	padding: 10px;
	width: 150px;
	text-align: center;
	border-radius: 5px;
}

footer {
	text-align: center;
	padding: 20px;
	background: #ddd;
}

img {
	width: 100px;
	height: 100px;
	align-items: center;
	border-radius: 50px;
}